<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Survey:</b>
  <%= @question.survey_id %>
</p>

<p>
  <b>Q n:</b>
  <%= @question.q_n %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
