<table width="762" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td><img src="/images/business-solutions.gif" width="779" height="78" /></td>
	</tr>
	<div id="navbar">
  
  <div id="holder"> 

  <ul> 

   <li><%= link_to 'Home',        root_path %></li>
   <li><%= link_to 'About',   about_path %></li>
   <li><%= link_to 'Services',   services_path %></li>
   <li><%= link_to 'Testimony',  testimony_path %></li>
   <li><%= link_to 'Charters',    charters_path %></li>
   <li><%= link_to 'Contact', contact_path %></li>
   <li><%= link_to 'Directions',  directions_path %></li>
   <li><%= link_to 'FAQs',        faq_path %></li>

  </ul> 

  </div> <!-- end holder div --> 

 </div> <!-- end navbar div -->
<!-- 	<tr>
		<td align="right" background="/images/bg.gif"><img src="/images/control.jpg" width="779" height="154" /></td>
	</tr>
</table>
<table width="779" border="0" align="center" cellpadding="0" cellspacing="0" style="background-image:url(/images/bg.gif);">
	<tr>
		<td width="537" align="left" valign="top" style="padding:5px 5px 5px 21px">
		<table width="509" height="31" border="0" cellpadding="0" cellspacing="0" class="text">
			<tr>
				<td height="31" background="/images/head_bar.gif"><h1><%= @title%></h1></td>
			</tr>
		</table> -->
