
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Date:</b>
  <%= @trip.date %>
</p>

<p>
  <b>Description:</b>
  <%= @trip.description %>
</p>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %> |
<%= link_to 'Survey', survey_path(@trip.survey.id) if @trip.survey%>
<%= link_to 'Survey', new_survey_path(:trip_id => @trip.id) if !@trip.survey%> |
<%= link_to 'Particeipant', new_particeipant_path(:trip_id => @trip.id)%>

