<p>
  <b>Email:</b>
  <%= @particeipant.email %>
</p>

<p>
  <b>Trip:</b>
  <%= @particeipant.trip_id %>
</p>

<p>
  <b>First name:</b>
  <%= @particeipant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @particeipant.last_name %>
</p>
<%@survey.question.each_with_index do|q,i|%> 
<b><%= q.q_n %>.
<%= q.question%><br /></b>
<%a = @particeipant.answer.find_by_q_n_id(i + 1)%>
<p><%= a.answer if a%><br /></p>
<%end%>
