<%= render 'header'%>
<h1>Editing particeipant</h1>

<%= render 'form' %>

<%= link_to 'Show', @particeipant %> |
<%= link_to 'Back', particeipants_path %>
<%= render 'side_bar'%>
<%= render 'footer'%>