
<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @particeipant.email %>
</p>

<p>
  <b>Trip:</b>
  <%= @particeipant.trip_id %>
</p>

<p>
  <b>First name:</b>
  <%= @particeipant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @particeipant.last_name %>
</p>
<%= render "admin_form"%>
<%= link_to 'Edit', edit_particeipant_path(@particeipant) %> |
<%= link_to 'Back', particeipants_path %>

