<div class="footer">
	<p>
		<%= link_to 'Home      ',       root_path %>
		<%= link_to 'About us  ',   about_path %>
		<%= link_to 'Services  ',   services_path %>
		<%= link_to 'Testimony ',  testimony_path %>
		<%= link_to 'Charters  ',   charters_path %>
		<%= link_to 'Contact Us', contact_path %>
		<%= link_to 'Directions', directions_path %>
		<%= link_to 'FAQs      ',       faq_path %>
	</p>
	<!-- end .footer -->
</div>
<!-- end .container --></div>