<%
b1 = 'http://www.amazon.com/SPEED-Trust-Thing-Changes-Everything/dp/1416549005/'
b2 = 'http://www.amazon.com/Fierce-Conversations-Achieving-Success-Conversation/dp/0425193373/'
b3 = 'http://www.amazon.com/Habits-Highly-Effective-People/dp/0743269519/'
b4 = 'http://www.amazon.com/Integrity-Courage-Meet-Demands-Reality/dp/006084969X/'
b5 = 'http://www.amazon.com/Fifth-Discipline-Practice-Learning-Organization/dp/0385517254/'
%>

<td width="242" align="right" valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="right" background="images/right_bg.gif">
		<table width="84%" border="0" align="center" cellpadding="0" cellspacing="0" height="50">
			<tr>
				<td height="8" colspan="2"></td>
			</tr>
			<tr>
				<td width="8%" align="left"><img src="images/arew.gif" width="11" height="7" /></td>
				<td width="92%" align="left" class="right_nav">
				<p style="margin-top: 0; margin-bottom: 0">
					<a href="<%= b1%>"> <font face="Verdana" style="font-size: 11pt; font-style:italic" color="#1F497D">Speed of Trust</font></a>
				</p>
				<p style="margin-top: 0; margin-bottom: 0">
					<font face="Verdana" style="font-size: 10pt; font-weight: 700" color="#1F497D">Stephen M.R. Covey</font>
				</td>
			</tr>
			<tr>
				<td width="8%" align="left"><img src="images/arew.gif" width="11" height="7" /></td>
				<td width="92%" align="left" class="right_nav">
				<p style="margin-top: 0; margin-bottom: 0">
					<a href="<%= b2%>"> <font face="Verdana" style="font-size: 11pt; font-style:italic" color="#1F497D">Fierce Conversations</font></a>
				</p>
				<p style="margin-top: 0; margin-bottom: 0">
					<font face="Verdana" style="font-size: 10pt; font-weight: 700" color="#1F497D">Susan Scott</font>
				</td>
			</tr>
			<tr>
				<td width="8%" align="left"><img src="images/arew.gif" width="11" height="7" /></td>
				<td width="92%" align="left" class="right_nav">
				<p style="margin-top: 0; margin-bottom: 0">
					<a href="<%= b3%>"> <font face="Verdana" style="font-size: 11pt; font-style:italic" color="#1F497D">Habits of Highly Effective Peopley</font></a>
				</p>
				<p style="margin-top: 0; margin-bottom: 0">
					<font face="Verdana" style="font-size: 10pt; font-weight: 700" color="#1F497D">Stephen Covey</font>
				</td>
			</tr>
			<tr>
				<td width="8%" align="left"><img src="images/arew.gif" width="11" height="7" /></td>
				<td width="92%" align="left" class="right_nav">
				<p style="margin-top: 0; margin-bottom: 0">
					<a href="<%= b4%>"> <font face="Verdana" style="font-size: 11pt; font-style:italic" color="#1F497D">Integrity</font></a>
				</p>
				<p style="margin-top: 0; margin-bottom: 0">
					<font face="Verdana" style="font-size: 10pt; font-weight: 700" color="#1F497D">Henry Cloud</font>
				</td>
			</tr>
			<tr>
				<td width="8%" align="left"><img src="images/arew.gif" width="11" height="7" /></td>
				<td width="92%" align="left" class="right_nav">
				<p style="margin-top: 0; margin-bottom: 0">
					<a href="<%= b5 %>"> <font face="Verdana" style="font-size: 11pt; font-style:italic" color="#1F497D">The Fifth Discipline</font></a>
				</p>
				<p style="margin-top: 0; margin-bottom: 0">
					<font face="Verdana" style="font-size: 10pt; font-weight: 700" color="#1F497D">Peter Senge</font>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table></td>
	</tr>
	<tr>
		<td><img src="images/right_bot.gif" width="242" height="35" /></td>
	</tr>
