<tr>
	<td>&nbsp;</td>
</tr>
</table>    </td>
</tr>
<tr>
	<td colspan="2" align="left" valign="top">
	<table width="96%" border="0" align="center" cellpadding="0" cellspacing="0" class="bot">
		<tr>
			<td width="1%"><%= image_tag 'bot_left.gif', :size=> '19x49'%></td>
			<td width="95%" align="center" background="/images/bot_bg.gif" > 
			<%= link_to 'Home      ',       root_path %>
			<%= link_to 'About us  ',   about_path %>
			<%= link_to 'Services  ',   services_path %>
			<%= link_to 'Testimony ',  testimony_path %>
			<%= link_to 'Charters  ',   charters_path %>
			<%= link_to 'Contact Us', contact_path %>
			<%= link_to 'Directions', directions_path %>
			<%= link_to 'FAQs      ',       faq_path %>
			</td>
			<td width="2%"><%= image_tag 'bot_right.gif', :size=> '19x49'%></td>
		</tr>
	</table></td>
</tr>
<tr>
	<td height="110" colspan="2" align="left" valign="top" background="/images/bot_img.gif" class="bot" 
		style="padding-left:30px; padding-top:10px;">&nbsp;</td>
</tr>
</table> 

