<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @survey.name %>
</p>

<p>
  <b>Trip:</b>
  <%= @survey.trip_id %>
</p>

<p>
  <b>Date:</b>
  <%= @survey.date %>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
