<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @survey.name %>
</p>

<p>
  <b>Trip:</b>
  <%= @survey.trip_id %>
</p>

<p>
  <b>Date:</b>
  <%= @survey.date %>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %> |
<%= link_to 'Trip', "/trips/#{@survey.trip_id}"%> |
<%= link_to 'New Question', new_question_path(:survey_id => @survey.id)%>

