<div class="container">
  <div class="header">	
    <p><em><h3>Channel Islands Center for Leadership and Teambuilding</h3></em></p></div>
<div class = "tabs">
<ul> 
   <li><%= link_to 'Home      ',       root_path %></li>
   <li><%= link_to 'About us  ',   about_path %></li>
   <li><%= link_to 'Services  ',   services_path %></li>
   <li><%= link_to 'Testimony ',  testimony_path %></li>
   <li><%= link_to 'Charters  ',   charters_path %></li>
   <li><%= link_to 'Contact Us', contact_path %></li>
   <li><%= link_to 'Directions', directions_path %>   </li>
   <li><%= link_to 'FAQs      ',       faq_path %></li>
  </ul></div>
  <div class = "banner_image"><img src="/images/banner.jpg" ></div> 
  <div class = "head_bar">
  <h2><%= @title%></h2>
  </div>